.jumbotron{
    background-color: #ffffff;
    border-radius: 0;
}

div.main1 {
    background: rgb(19, 141, 117);
    margin-top: -13rem;
    padding-bottom: 10rem;
}

.bg-dark{
    background-color: rgba(81, 84, 84, 0.89) !important;
}

.container1 {
    padding-top: 270px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-left: 50px;
    opacity: 1;
}

.container2 {
    padding-right: 25px;
    padding-left: 25px;
    opacity: 1;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #000 #000 #000;
}
.nav-tabs .nav-link.active {
    color: rgb(0, 0, 0);
}

.nav-tabs .nav-link {
    color: rgba(90, 90, 90, 0.9);
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    border-color: #000 #000 #000;
}

.form-group{
    color: black;
}
